# Dependencies
node_modules/
.pnpm-store/

# VitePress / Build
.vitepress/dist/
.vitepress/cache/
dist/
build/
out/

# Misc
.DS_Store
*.pem
*.log

# Local/Secret Files
.env*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo
